@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Roboto:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');
html{
  height: 100%;
}


body{
  font-family: 'Roboto','Kanit','sans-serif','Angsana New';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height:100%;
}
.column {
  float: left;
}


.row {
  height:100%;
}
.left {
  padding-top: 50px;
  width: 50%;
  background:url(img/white-paper-texture.jpg);
  min-height: 100%;
}

.right {
  padding-top: 50px;
  width: 50%;
  background-color:#E3E0CA;
  min-height: 100%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
h1{
  font-family: 'Cairo','Kanit',sans-serif,'Angsana New';
  text-align: center;
  font-size: 60px;
  color:#e782a2;
  line-height: 120%;

}

.index-content{
  padding-right: 50px;
  text-align: right;
}
.notfound-content{
  padding-left: 50px;
  text-align: left;
}
h2{
  font-size: 36px;
  color:#AB76CC ;
  font-weight: 600;
}

p{
  font-size: 22px;
}
a{
  font-size: 22px;
}

label{
  color: #AB76CC;
  font-size: 30px;
}

.violet-text{
  color: #AB76CC;
}
.red-text{
  color: crimson;
}

#contact{
  padding-left: 30px;
  padding-top: 100px;
}
#contact p{
  font-size: 16px;
  line-height: 100%;
}
#contact .column{
  width: 33.33%;
}

input{
  font-family: 'Roboto','Kanit',sans-serif,'Angsana New';
  width: 50%;
  font-size: 30px;
  color: #AB76CC;
  text-align: center;
}

#submit-button {
  margin-top: 30px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
  /* Rectangle 3 */
  background: #5DD0AB;
  border-radius: 30px;
  /* Submit */
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  line-height: 56px;
  align-items: center;

  color: #DFFEFD;

}
/*
#submit-button:hover{
  box-shadow: 0px 0px 20px 10px turquoise;
}
*/